<ngb-alert>
  <strong>Warning!</strong> Oops Sorry.
</ngb-alert>
<div class="container">

  <div class="row">
    <div class="col-6">
      <div class="form-wrapper">
        <form [formGroup]="profileForm">

          <div class="row">
            <div class="col-6">
              <label class="label">First Name:</label>
            </div>
            <div class="col-6">
              <input class="form-control mb-3" type="text" formControlName="firstName" required>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <label class="label">Last Name:</label>
            </div>
            <div class="col-6">
              <input class="form-control mb-3" type="text" formControlName="lastName">
            </div>
          </div>

          <div formGroupName="address">
            <h3>Address</h3>

            <div class="row">
              <div class="col-6">
                <label class="label">Street:</label>
              </div>
              <div class="col-6">
                <input class="form-control mb-3" type="text" formControlName="street">
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <label class="label">City:</label>
              </div>
              <div class="col-6">
                <input class="form-control mb-3" type="text" formControlName="city">
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <label class="label">State:</label>
              </div>
              <div class="col-6">
                <input class="form-control mb-3" type="text" formControlName="state">
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <label class="label">Zip Code:</label>
              </div>
              <div class="col-6">
                <input class="form-control mb-3" type="text" formControlName="zip">
              </div>
            </div>
          </div>



          <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid" [formGroup]="profileForm"
            (click)="onSubmit()">Submit</button>

          <p>
            Form Status: {{ profileForm.status }}
          </p>

          <p>
            <button (click)="updateProfile()" class="btn btn-primary">Update Profile</button>
          </p>

        </form>
      </div>
    </div>
  </div>
</div>
